/*Alert.module.css*/

.alert {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: maroon;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid white; 
    z-index: 1000; /* Ensures it's above most other elements */
    
    transition: opacity 5s ease-in-out;
    opacity: 1;
  }
  
  .fadeOut{
    opacity: 0;
  }