.nodeContainer {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.node {
  width: 70px; /* Size of the square node */
  height: 70px;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 10px;
  border: 1px solid #ddd;
}

.optionsContainer {
  display: block; /* Always block, visibility controlled by React state */
  position: absolute;
  left: 100%; /* Position to the right of the node */
  top: 0;
  background-color: transparent;
  padding: 10px;
  white-space: nowrap;
}

.plus {
  margin-bottom: 10px;
}

.ex {
  margin-bottom: 10px;
}

.plus:hover {
  background-color: grey;
}

.ex:hover {
  background-color: grey;
}